.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    gap: 20px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15%;
}